.container {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 2rem;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.mainContent {
  flex: 2;
  border: 4px solid #fff;
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 0px #ff0000;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.year {
  font-size: 2rem;
  background-color: #ff0000;
  padding: 0.25rem 1rem;
  text-shadow: none;
  font-family: monospace;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: monospace;
}

.collects {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.collectsList {
    display: flex;
    gap: 8px;
}

.collectItem {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.collectItem:hover {
    background-color: #555;
}
